*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width: 500px;
    height: 500px;
}
.Carousel{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    width: 500px;
    height: 530px;
    overflow: hidden;
}
.image-container{
    display: flex;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;

}
.buttons-container{
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    width: 49.5%;
    padding: 8px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}